#
# HiDPI
#

# default: 96
xrandr --dpi 192
# for QT
export QT_AUTO_SCREEN_SCALE_FACTOR=1
# for GTK
export GDK_DPI_SCALE=1.4


#
# Device configuration
#

# TouchPad: id=12
## Tapping: 0 or 1
xinput set-prop 12 280 1
## Natural Scrolling: 0 or 1
xinput set-prop 12 288 1
## Accel Speed
xinput set-prop 12 300 1

# TrakPoint: id=13
## Accel Speed: 0~1
xinput set-prop 13 300 1


#
# Rofi
#
export PATH=$PATH:$HOME/bin


#
# fcitx
#
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

